.footer__wrapper {
    padding-bottom: 40px;
}

.footer__inner_wrapper {
    background-color: var(--background-container);
    color: var(--text-inverse);
    padding: 100px;
    border-radius: 40px;

    display: flex;
    justify-content: space-between;
}

body[data-theme="dark"] .footer__inner_wrapper {
    background-color: var(--dark-bg-container);
}

.footer__inner_left {
    display: flex;
    flex-direction: column;
    gap: 40px;

    max-width: 530px;
}

.footer__inner_left h2 {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 60px;
    line-height: 125%;
    letter-spacing: 0%;

    margin: 0;
}

.footer__socials {
    margin: 0;
    padding: 0;

    display: flex;
    gap: 12px;
}

.footer__socials>li {
    list-style-type: none;
}

.footer__socials>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid var(--border-primary);
    border-radius: 100px;
}

.footer__socials>li>a,
.footer__socials>li>a svg path {
    transition: all 0.5s ease;
}

.footer__socials>li>a:hover {
    background-color: var(--background-page);
    color: var(--text-primary);
}

.footer__socials>li>a:hover svg path {
    stroke: var(--text-primary);
}

.footer__inner_right {
    width: 530px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.footer__right_title {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: 0%;
}

.footer__right_socials {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__right_socials>li {
    list-style-type: none;

    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
}

.footer__right_socials>li>a,
.footer__right_socials>li>span {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease;
    height: 24px;
    vertical-align: middle;
}

.footer__right_socials>li>a:hover,
.footer__right_socials>li>span:hover {
    border-color: var(--text-invers);
}

.footer__right_socials>li>a>svg,
.footer__right_socials>li>span>svg {
    padding-right: 8px;
}

@media screen and (min-width: 380px) and (max-width: 1439px) {
    .footer__inner_wrapper {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
}

@media screen and (max-width: 767px) {
    .footer__inner_wrapper {
        padding: 60px 16px;
    }

    .footer__inner_left h2 {
        font-size: 32px;
    }
}