html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--background-page);
}

:root {
    --text-accent: #B0907A;
    --text-dark: #403F3D;
    --text-inverse: #E1D4C9;
    --text-primary: #403F3D;
    --background-page: #E1D4C9;
    --background-container: #665F55;
    --border-primary: #C1B6AD;
    --border-inverse: #665F55;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}

.page__main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}